* {
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: black;
}

#particles-js {
  display: block;
  /* vertical-align: bottom; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.mainPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 3em;
  text-align: center;
}

.firstName {
  color: rgb(217, 62, 62);
  background-image: linear-gradient(#d93e3e, #d93e3e);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.firstName:hover {
  background-size: 100% 100%;
  color: white;
}

.viewWorkBtn {
  color: rgb(217, 62, 62);
  text-decoration: none;
  border: solid 1px rgb(217, 62, 62);
  border-radius: 5px;
  padding: 5px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #0e0e0e;
  width: 100%;
}

a {
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: rgb(217, 62, 62);
  transition: 0.4s;
}

.about,
.projects,
.contact {
  height: 100vh;
  text-align: center;
}
